.MuiCard-root {
  overflow: hidden;
  width: 100%;
  margin-right: 33px;
  margin-top: 10px;
  height: 530px;
}
.MuiCard-root:hover {
  cursor: pointer;
}
.product-list-container {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
}
.product-list {
  list-style-type: none;
}
.image-container {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: auto;
  height: 200px;
}

.column {
  float: left;
  padding: 0 10px;
  width: 47%;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.product-details-container {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}
.product-main-container {
  margin-top: 20px;
}
.product-details {
  margin-left: 81px;
}
.loading-card {
  width: 355px;
}
.product-pagination {
  margin-left: 35%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.product-pagination-container {
  display: flex;
}
.page-size-selector {
  width: 70px;
  margin-top: 13px !important;
  margin-left: 10px !important;
}
