.App {
  height: 100%;
  overflow: hidden;
}
/* Loading page */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #333435;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Not related to OMNI */
.app-bar {
  background-color: #041e42 !important;
}
.MuiCard-root {
  overflow: hidden;
  width: 100%;
  margin-right: 33px;
  margin-top: 10px;
  /* height: 530px; */
}
.presentation-container {
  height: 100% !important;
}
.presentation-wall {
  width: 100%;
  height: 99%;
  position: relative;
  top: 0;
  left: 0;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.movable-div {
  padding: 10px;
  cursor: move;
  z-index: 10;
  /* background-color: #2196F3; */
  color: #fff;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px green solid;
  width: 50%;
  height: 40%;
}
.image2 {
  position: absolute;
  top: 30px;
  /* right: 30px; */
  border: 1px green solid;
  width: 50%;
  height: 40%;
}
.product-list-container {
  display: flex;
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  margin-top: 40px;
}
.product-list {
  list-style-type: none;
}
.image-container {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: auto;
  height: 200px;
}

.column {
  float: left;
  padding: 0 10px;
  width: 47%;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.MuiDrawer-paperAnchorDockedLeft {
  width: 18%;
  display: contents;
}
.product-details-container {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 60px;
}
.product-main-container {
  margin-top: 20px;
}
.product-details {
  margin-left: 81px;
}
.loading-card {
  width: 500px;
  margin-left: 25px;
}
.product-pagination {
  margin-left: 40%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.product-pagination-container {
  display: flex;
}
.page-size-selector {
  width: 70px;
  margin-top: 13px !important;
  margin-left: 10px !important;
}
.MuiDrawer-paper {
  display: contents !important;
}
.filter-drawer {
  width: 20%;
  margin-left: 10px;
}
.search-bar {
  position: "relative";
  background-color: white;
  margin-left: 30%;
  width: 30%;
  display: flex;
  border-radius: 20px;
}
.search-input-box {
  width: 99%;
  margin-left: 10px;
  border-radius: 5px;
}
.search-icon {
  color: black !important;
  margin-top: 4px;
  margin-left: 6px;
  margin-right: 5px;
}
.search-icon:hover {
  cursor: pointer;
}
.search-bar:hover {
  background-color: whitesmoke;
}
@media (max-width: 1080px) {
  .column {
    float: left;
    padding: 0 10px;
    width: 95%;
  }
}
.no-products-found {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-left: 100%;
}
.filter-text {
  margin-top: 20px !important;
}
.filter-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.apply-filter-btn {
  margin-right: 10px !important;
}
.rating-value-selector {
  width: 100%;
}
.price-range-selector {
  display: flex;
}
.product-edit-modal-conatiner {
  width: 100% !important;
  height: 100% !important;
}
/* .product-edit-modal {
  max-width: 90% !important;
} */
.MuiDialog-paperWidthSm {
  max-width: 90% !important;
}
.inStock {
  display: flow-root !important;
}
.edit-page-image-container {
  display: table;
  padding: 20px;
}
